{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body, html {
    height: 100%;
    font-family: sans-serif;
    }

    body > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    }

    header {
        background: linear-gradient(#64b6e6, #e99227 90%);
        padding: 15px;

        h1 {
            color: white;
            font-family: monospace;
            text-shadow: 1px 1px 2px black;
            text-align: right;
        }

        p {
            color: black;
            font-family: sans-serif;
            padding-top: 10px;
            text-align: left;
            font-style: italic;
            font-size: 20px;
        }
    }

    footer {
        background-color: rgb(220, 220, 220);
        color: #e99227;
        padding: 15px 15px 10px 15px;
        text-align: left;
        margin-top: auto;  /* Pushes the footer to the bottom */

        h5 {
            margin-bottom: 5px;
        }
        p {
            margin: 0px;
            color: black;
            font-size: 15px;
        }
    }

    main {
        flex: 1;  /* This makes the main content area flexible */
        padding: 20px;
        background: #ffffff;

        div {
            height: 100%;

            .row {
            display: flex; 
            justify-content: center;
            height: 100%;

                div {
                    padding: 20px;
                    margin: 0px;
                    
                    div[class="inner"] {
                        text-align: center;
                        background-color: rgb(220, 220, 220);;
                        border: 2px solid black;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    button {
        height: 100px;
        width: 15%;

        img {
            height:90%;
            width: 90%;
        }
    }

    .prediction {
        margin: 10px;
    }

    h6 {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .algorithm {
        height: 30px;
        width: 17%;
        font-size: 12px;
        border-radius: 10px;
        border: None;
        background-color: #e99227;
    }
    .algorithm:hover, .algorithm:active {
        border: 1px solid black;
        box-shadow: 1px 1px 1px black;
    }


    </style>
</head>
<body>
    <div>
        <header>
        <div>
            <div class="row">
                <div class="col-lg-6 col-sm-10">
                    <div>
                    <h1><strong>SilkRoad</strong></h1>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10">
                    <div class>
                    <p>Building AI software for small business</p>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <main>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-sm-10">
                        <div class="inner">
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" name="0" value="0">
                                    <img src="{% static 'classification/mnist_X_test_0.png' %}">
                                </button>
                                <button type="submit" name="1" value="1">
                                    <img src="{% static 'classification/mnist_X_test_1.png' %}">
                                </button>
                                <button type="submit" name="2" value="2">
                                    <img src="{% static 'classification/mnist_X_test_2.png' %}">
                                </button>
                                <button type="submit" name="3" value="3">
                                    <img src="{% static 'classification/mnist_X_test_3.png' %}">
                                </button>
                                <button type="submit" name="4" value="4">
                                    <img src="{% static 'classification/mnist_X_test_4.png' %}">
                                </button>
                                <button type="submit" name="5" value="5">
                                    <img src="{% static 'classification/mnist_X_test_5.png' %}">
                                </button>
                                <button type="submit" name="6" value="6">
                                    <img src="{% static 'classification/mnist_X_test_6.png' %}">
                                </button>
                                <button type="submit" name="7" value="7">
                                    <img src="{% static 'classification/mnist_X_test_7.png' %}">
                                </button>
                                <button type="submit" name="8" value="8">
                                    <img src="{% static 'classification/mnist_X_test_8.png' %}">
                                </button>
                                <button type="submit" name="9" value="9">
                                    <img src="{% static 'classification/mnist_X_test_9.png' %}">
                                </button>
                                <button type="submit" name="10" value="10">
                                    <img src="{% static 'classification/mnist_X_test_10.png' %}">
                                </button>
                                <button type="submit" name="11" value="11">
                                    <img src="{% static 'classification/mnist_X_test_11.png' %}">
                                </button>
                                <button type="submit" name="12" value="12">
                                    <img src="{% static 'classification/mnist_X_test_12.png' %}">
                                </button>
                                <button type="submit" name="13" value="13">
                                    <img src="{% static 'classification/mnist_X_test_13.png' %}">
                                </button>
                                <button type="submit" name="14" value="14">
                                    <img src="{% static 'classification/mnist_X_test_14.png' %}">
                                </button>
                                <button type="submit" name="15" value="15">
                                    <img src="{% static 'classification/mnist_X_test_15.png' %}">
                                </button>
                                <button type="submit" name="16" value="16">
                                    <img src="{% static 'classification/mnist_X_test_16.png' %}">
                                </button>
                                <button type="submit" name="17" value="17">
                                    <img src="{% static 'classification/mnist_X_test_17.png' %}">
                                </button>
                            </form>

                            <h6>Classification Algorithms:</h6>
                            <button type="submit" class="algorithm" name="algorithm_1" value="algorithm_1">algorithm_1</button>
                            <button type="submit" class="algorithm" name="algorithm_2" value="algorithm_2">algorithm_2</button>
                            <button type="submit" class="algorithm" name="algorithm_3" value="algorithm_3">algorithm_3</button>
                            <button type="submit" class="algorithm" name="algorithm_4" value="algorithm_4">algorithm_4</button>
                            <button type="submit" class="algorithm" name="algorithm_5" value="algorithm_5">algorithm_5</button>

                            {% if zero %}
                                <p class="prediction">
                                    Prediction: {{ zero_pred }} <br>
                                    Proba: [INSERT] <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif one %}
                                <p class="prediction">
                                    Prediction {{ one }}<br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif two %}
                                <p class="prediction">
                                    Prediction {{ two }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif three %}
                                <p class="prediction">
                                    Prediction {{ three }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif four %}
                                <p class="prediction">
                                    Prediction {{ four }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif five %}
                                <p class="prediction">
                                    Prediction {{ five }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif six %}
                                <p class="prediction">
                                    Prediction {{ six }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif seven %}
                                <p class="prediction">
                                    Prediction {{ seven }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif eight %}
                                <p class="prediction">
                                    Prediction {{ eight }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif nine %}
                                <p class="prediction">
                                    Prediction {{ nine }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif ten %}
                                <p class="prediction">
                                    Prediction {{ ten }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif eleven %}
                                <p class="prediction">
                                    Prediction {{ eleven }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif twelve %}
                                <p class="prediction">
                                    Prediction {{ twelve }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif thirteen %}
                                <p class="prediction">
                                    Prediction {{ thirteen }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif fourteen %}
                                <p class="prediction">
                                    Prediction {{ fourteen }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif fifteen %}
                                <p class="prediction">
                                    Prediction {{ fifteen }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif sixteen %}
                                <p class="prediction">
                                    Prediction {{ sixteen }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% elif seventeen %}
                                <p class="prediction">
                                    Prediction {{ seventeen }} <br>
                                    Accuracy: [INSERT] <br>
                                    Cross validation: [INSERT] <br>
                                    Label: [INSERT]
                                </p>
                            {% else %}
                                <p class="prediction">
                                    Press an image for prediction.</p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-10">
                        <div class="inner">
                            <p>Description</p>
                            <p>Application Usage</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        <div>
            <div class="row">
                <div class="col-lg-6 col-sm-10">
                    <div>
                    <h5><strong>Contact</strong></h5>
                    <p>Email: info@srai.ca</p>
                    <p>Tel: +1 (647) 574-1380</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10">
                    <div class>
                    <h5><strong>Socials</strong></h5>
                    <p>LinkedIn: [ID]</p>
                    <p>GitHub: [ID]</p>
                    <p>HuggingFace: [ID]</p>
                    </div>
                </div>
            </div>
        </div>
        </footer>
    </div>
    </body>
</html>